@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Inter', sans-serif;
        font-size: 0.9375rem;
    }

    :is(a, button, input, textarea, select, details, summary):focus-visible {
        outline: white solid 0.15rem;
        outline-offset: 0.188rem;
    }
}

@layer components {
    .transition-default {
        @apply transition-all duration-300 ease-in-out;
    }

    .filter-image {
        mix-blend-mode: multiply;
        opacity: 0.75;
    }

    .p-default {
        padding: 71px 71.5px 59px 71px;
    }
}


@layer utilities {
    @media (prefers-reduced-motion: reduce) {
        html:focus-within {
            scroll-behavior: auto;
        }

        *,
        *::before,
        *::after {
            -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
            -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
            -webkit-transition-duration: 0.01ms !important;
            -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }
}